<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AllowedScaleDividers" value=",|.|:|/" />
    <add key="NoProducersStrings" value="brak|?|???|nieznany" />
    <add key="ScratchStrings" value="scratch|od podstaw" />
    <add key="UnallowedMarkup" value="&gt;|&lt;|&amp;|&quot;|;)" />
  </appSettings>
</configuration>