<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AllowedScaleDividers" value=",|.|:|/|-" />
    <add key="NoProducersStrings" value="brak|?|???|nieznany" />
    <add key="ScratchStrings" value="scratch|od podstaw" />
    <add key="UnknownScaleStrings" value="brak|nieznana|nieznane|różne|neznana" />
    <add key="ScaleSeparators" value="+"/>
    <add key="OutputDir" value="C:\Users\Adam\Downloads" />
   <add key="MinimumSeparatePostSize" value="100"/>
  </appSettings>
</configuration>